{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <strong>{{ object.name }}</strong> <br />
        {{ object.providername}} : {{ object.width }}x{{ object.height }} <br />
    </div>
{% endblock %}

{% block javascripts %}
    parent();
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
{% endblock %}