<script src="{{ asset('build/js/app.js') }}"></script>
<link rel="stylesheet" href="{{ asset('build/css/global.css') }}" />

{#<div id="app" class="container">#}
    {#<modal v-if="showModal"></modal>#}
    {#<a href="#" :onclick="showModal=true">Show modal</a>#}
{#</div>#}

<div id="app" class="text-center">
    <h3>My Symfony 4 sample project</h3>

    <div class="jumbotron text-center">
        <example></example>
    </div>
</div>